.accueil {
  @include media-breakpoint-down(lg) {
    background-color: $background-gray;
  }

  .video-container {
    height: calc(100vh - 161px);
    overflow: hidden;

    #video-presentation {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }


  .presentation-mobile-container {
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    bottom: 10%;
    left: 20px;

    .title-slogan {
      color: $white;
      line-height: 76px;
    }
  }

  .presentation-img-mobile {
    object-fit: cover;
    height: 60vh;
    width: 100%;
  }

  .services-container {
    .btn {
      position: absolute;
      bottom: 5%;
    }

    .service-container {
      .service-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        font-family: "Helvetica Neue";
        font-size: 16px;
        font-weight: 300;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

        .link-xs {
          color: $gray-900;
          border-bottom-color: $gray-900;

          &:hover {
            color: $primary;
            border-bottom-color: $primary;
          }
        }
      }

      &:hover {
        color: $primary;
        cursor: pointer;

        h3, .link-xs {
          color: $primary;
        }

        .link-xs {
          border-bottom-color: $primary;
        }
      }
    }
  }

  .services-container-mobile {
    font-size: 16px;

    .col-6 {
      &:first-child > .service-container {
        background-image: url("../images/service-entretien-reparation.jpg");
      }

      &:last-child > .service-container {
        background-image: url("../images/service-estimation-reprise.jpg");
      }
    }

    .service-container {
      background-size: cover;
      height: 260px;
      border-radius: 10px;

      .service-content {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 20px;
        padding-bottom: 20px;

        .border-service {
          height: 2px;
          width: 30px;
          background-color: $white;
        }

        span {
          color: $white;
          font-weight: normal;
          width: 110px;

          &.service-info {
            font-size: 14px;
            margin-bottom: 25px;
          }

          &.service-title {
            font-size: 20px;
          }
        }
      }
    }
  }


  .road-trip-container {
    display: flex;
    flex-direction: row;
    background-image: url("../images/roadtrip-bg.jpg");
    background-repeat: no-repeat;
    padding-top: 130px;
    color: $white;
    font-size: 16px;

    @include media-breakpoint-down(md) {
      background: none;
      padding-top: 0;
      color: $gray-600;
    }

    h3, p {
      color: $white;

      @include media-breakpoint-down(md) {
        color: $gray-900;
      }
    }

    p {
      width: 50%;
    }
  }
}