.accueil {
  .carousel-home-container {
    .carousel {
      .carousel-inner {
        .carousel-item {
          color: $white;
          height: 70vh;
          background-position: top;
          background-size: cover;

          &:hover {
            text-decoration: none;
          }

          .carousel-item-container {
            padding: 286px 0 60px 0;
            height: 581px;

            .carousel-item-libelle {
              font-family: 'Helvetica Neue Condensed';
              display: inline-block;
              background: $white;
              color: $dark-blue;
              line-height: 30px;
              padding: 0 10px;
              font-weight: bold;
              margin-bottom: 0;
            }

            .carousel-item-content {
              height: 210px;
              width: 100%;
              overflow: hidden;
              display: inline-block;
              padding: 15px;
              background-color: rgba(64, 68, 126, 0.7);

              .carousel-item-title {
                font-size: 44px;
                font-weight: 700;
                color: $white;
              }
            }
          }
        }
      }
    }

    .carousel-nav-container {
      list-style: none;
      padding: 20px 0;
      height: 70vh;
      background-color: rgba(64, 68, 126, 0.7);
      position: absolute;
      width: 260px;
      top: 0;
      left: 100%;
      margin-bottom: 0;
      margin-left: -27%;

      .carousel-nav-item-container {
        height: 150px;

        &:hover {
          cursor: pointer;
        }
        &.active {
          background-color: $dark-blue;
        }

        .carousel-nav-item-title {
          font-family: 'Helvetica Neue Condensed';
          display: inline-block;
          margin-bottom: 10px;
          background: $white;
          color: $dark-blue;
          line-height: 30px;
          padding: 0 10px;
          font-weight: bold;
        }

        .carousel-nav-item-content {
          padding: 0 15px 0 30px;

          p {
            color: white;
            font-weight: bold;
            font-family: 'Helvetica Neue Condensed';
            font-size: 18px;
            text-transform: uppercase;
            text-align: end;
            text-indent: 0;
          }
        }
      }
    }
  }

  .next-matches-container {
    .title-2 {
      margin: 0 35px;
    }

    .next-matches-nav {
      margin-bottom: 80px;
      border-bottom: 1px solid $primary;
      display: flex;
      justify-content: flex-end;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        right: -60px;
        border: solid $primary;
        border-width: 1px 1px 0 0;
        width: 60px;
        height: 45px;
      }

      span {
        font-weight: bold;
        background-color: $primary;
        padding: 11px 30px;
        color: $white;

        &:last-child {
          opacity: 0.5;
          margin-left: 8px;
        }
        &:hover {
          cursor: pointer;
        }
        &.active {
          opacity: 1;
        }
      }
    }

    .next-matches-content {
      .next-matches-category {
        display: flex;
        position: relative;
        margin-bottom: 80px;

        .next-match-container {
          &.fixed-match {
            color: $white;
            display: block;
            z-index: 1;
            position: absolute;
            top: -17px;
            left: 35px;
            height: calc(100% + 0px);
            padding: 60px 35px 260px 60px;

          }

          .next-match-teams {

          }
          .next-game-desc {

          }
        }
      }
    }
  }
}