.accueil {
  .carousel-home-container {
    .carousel {
      .carousel-inner {
        .carousel-item {
          height: 70vh;
          background-position: top;
          background-size: cover;
        }
      }
    }

    .carousel-nav-container {
      list-style: none;
      padding: 20px 0;
      height: 70vh;
      background-color: rgba(64, 68, 126, 0.7);
      position: absolute;
      width: 260px;
      top: 0;
      left: 100%;
      margin-bottom: 0;
      margin-left: -27%;

      .carousel-nav-item-container {
        height: 150px;

        &:hover {
          cursor: pointer;
        }
        &.active {
          background-color: $dark-blue;
        }

        .carousel-nav-item-title {
          font-family: 'Helvetica Neue Condensed';
          display: inline-block;
          margin: 0 0 10px 0;
          background: $white;
          color: $dark-blue;
          line-height: 30px;
          padding: 0 10px;
          font-weight: bold;
        }

        .carousel-nav-item-content {
          padding: 0 15px 0 30px;

          p {
            color: white;
            font-weight: bold;
            font-family: 'Helvetica Neue Condensed';
            font-size: 18px;
            text-transform: uppercase;
            text-align: end;
          }
        }
      }
    }
  }
}