body{
  font-size: 30px;
  .helvetica-blackcond{
    font-weight: 1000;
    font-style: normal;
    font-family: "Helvetica Neue Condensed";

  }
  .helvetica-blackcondobl{
    font-weight: 1000;
    font-style: italic;
    font-family: "Helvetica Neue Condensed";
  }
  .helvetica-boldcond{
    font-weight: bold;
    font-family: "Helvetica Neue Condensed";
  }
  .helvetica-boldcondobl{
    font-weight: bold;
    font-style: italic;
    font-family: "Helvetica Neue Condensed";
  }
  .helvetica-light{
    font-weight: 100;
  }
  .helvetica-medium{
    font-weight: normal;
    font-family: "Helvetica Neue Condensed";
  }
  .helvetica-regular{
    font-weight: 300;
    font-family: "Helvetica Neue Condensed";
  }
  .helvetica-roman{
    font-weight: 300;
    font-family: "Helvetica Neue";
  }
  .helvetica-mediumcondobl{
    font-weight: normal;
    font-style: italic;
    font-family: "Helvetica Neue Condensed";
  }
}