header{
  transition: all 0.5s ease-out;

  &.sticky-top.scrolling {
    top: 0;
    @include media-breakpoint-up(md) {
      top: -88px;
    }
  }

  .social-top-bar {
    background-color: $white;

    &.container {
      @include media-breakpoint-up(lg) {
        max-width: 1300px;
      }
    }

    .col-top-bar {
      height: 40px;

      ul.social-network-list-container {
        list-style: none;
        padding: 0;
        display: table;
        height: 40px;
        font-size: 22px;
        margin-bottom: 10px;

        li {
          display: table-cell;
          vertical-align: middle;
          padding: 0 10px;

          a {
            font-size: 24px;
            color: $dark-blue;
          }
        }
      }
    }
  }

  .slogan-bar {
    background-color: $dark-blue;

    &.container {
      @include media-breakpoint-up(lg) {
        max-width: 1300px;
      }
    }

    ul.slogan {
      list-style: none;
      padding: 0 10px;
      margin: 0;
      height: 80px;
      display: table;
    }

    ul.logos-ffbb {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 80px;
      display: table;
      float: right;

      li {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  /*** MENU ADMIN ***/
  .page-wrapper {
    //height: 100vh;
    .sidebar-wrapper {
      left: 0;
      width: 260px;
      height: 100%;
      max-height: 100%;
      position: fixed;
      top: 0;
      z-index: 999;
      background-color: #000653;
      border-right: 1px solid #000653;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      a {
        text-decoration: none;
      }

      .sidebar-content {
        position: relative;
        height: 100%;

        .sidebar-brand {
          padding: 10px 20px;
          text-align: center;
          background-color: #fff;

          .logo {
            background-color: #fff;
          }
        }

        .sidebar-header {
          padding: 20px;
          overflow: hidden;
          display: flex;
          border-top: 1px solid #fff;

          .user-pic {
            float: left;
            width: 60px;
            padding: 2px;
            border-radius: 12px;
            margin-right: 15px;
            overflow: hidden;

            img {
              object-fit: cover;
              height: 100%;
              width: 100%;
            }
          }

          .user-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;

            .user-role {
              font-size: 12px;
              color: #b8bfce;
            }
          }
        }

        .sidebar-menu {
          border-top: 1px solid #fff;
          max-height: calc(100% - 245px);
          height: calc(100% - 245px);
          overflow-y: auto;

          .header-menu {
            span {
              font-weight: bold;
              font-size: 14px;
              padding: 15px 20px 5px 20px;
              display: inline-block;
            }
          }

          ul {
            li {
              a {
                display: inline-block;
                width: 100%;
                text-decoration: none;
                position: relative;
                padding: 8px 30px 8px 20px;
                color: #b8bfce;

                i {
                  margin-right: 10px;
                  font-size: 12px;
                  width: 30px;
                  height: 30px;
                  line-height: 30px;
                  text-align: center;
                  border-radius: 4px;
                  background: #3a3f48;
                }
              }

              &:hover {
                a {
                  color: #fff;
                }

                &:not(.header-menu) {
                  background-color: #383D7F;
                }
              }

              &.header-menu {
                span {
                  color: #fff;
                }
              }

              &.menu-active {
                border-left: 4px #ffffff solid;

                a {
                  font-weight: bold;
                  background-color: #383D7F;
                  color: #ffffff;
                }
              }
            }
          }
        }
      }

      .sidebar-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        display: flex;
        background: #3a3f48;
        border-top: 1px solid #464a52;

        a {
          flex-grow: 1;
          text-align: center;
          height: 30px;
          line-height: 30px;
          position: relative;
          color: #b8bfce;

          &:hover {
            i {
              color: #fff;
            }
          }
        }
      }
    }
  }

  /*** MENU SITE WEB ***/
  #menu-navigation {
    &.scroll-active {
      position: relative;
      z-index: 30;
    }
  }

  .menu-header {
    height: 40px;
    background: $white;
    box-shadow: 0 3px 3px $dark-blue;
    z-index: 40;

    &.scroll-active {
      position: fixed;
      top: 0;
      width: 100%;
    }

    .container {
      @include media-breakpoint-up(lg) {
        max-width: 1300px;
      }
    }

    a.logo {
      margin-top: -120px;
      margin-bottom: 0;
      display: table;
      position: relative;
      z-index: 30;

      &.logo-small {
        margin-top: 2px;
      }

      &.hidden {
        display: none;
      }
    }

    .container {
      .position-static {
        ul {
          font-family: Roboto, sans-serif;
          font-size: 14px;
          font-weight: 100;
          list-style: none;
          padding: 0;
          margin: 0;
          z-index: 9;
          display: block;
          float: left;

          li {
            display: inline-block;
            position: relative;
            padding: 0 10px;

            a {
              color: $blue-200;
              padding: 0 5px;
              margin-top: 2px;
              display: inline-block;
              line-height: 40px;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              text-decoration: none;

              &.a-current {
                color: $dark-blue;
              }
            }

            &:hover {
              a {
                color: $dark-blue;
              }
            }
          }
        }
      }
    }
  }

  .menu-navbar {
    background-color: $dark-blue;
    opacity: 0.9;
    position: absolute;
    z-index: 20;
    width: 100%;

    &.scroll-active {
      top: 42px;
    }

    .container {
      @include media-breakpoint-up(lg) {
        max-width: 1300px;
      }

      .content-menu-navbar {
        box-shadow: 0 1px 0 0 0.5 $black;

        .column-navbar {
          &.column-navbar-start {
            border-right: 4px solid $white;
          }

          &.column-navbar-end {
            border-left: 4px solid $white;
          }

          margin-top: 50px;
          margin-bottom: 50px;

          h2 {
            color: $white;
            margin-bottom: 20px;
          }

          ul {
            font-size: 14px;
            font-weight: 100;
            list-style: none;
            padding: 0;
            text-align: center;

            li {
              margin-bottom: 10px;
            }

            a {
              font-weight: 300;
              padding-bottom: 5px;
              color: $white;
              text-decoration: none;

              &:hover {
                border-bottom: 2px solid $white;
              }
            }
          }
        }
      }
    }
  }

  section {
    background-color: $white;
    margin: 30px 0 15px 0;
    box-shadow: 3px 3px 20px $gray-400;
    border-radius: 2px;

    header {
      border-bottom: 1px solid #f3f5fa;
      padding: 15px 0;
    }

    .section-body {
      display: flex;
      flex-direction: column;
      padding: 20px;

      &.section-body-bg {
        background: linear-gradient(to left, #888DCF, #383D7F);
        padding: 0;
        align-items: center;

        p {
          color: #fff;
        }
      }

      a {
        width: max-content;
      }
    }

    footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      background: $white;
    }
  }

  section {
    &.section-header {
      margin: 0;
      box-shadow: none;
      border-radius: 0;

      &.slogan {
        background-repeat: repeat;
        background-color: $dark-blue;
      }
    }
  }
}